<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    Hello!
    <div>
      It's been two weeks since you last brewed, so this is your reminder that it is probably time to bottle. We will email again in two more weeks to remind you it is ready to drink (as if your thirst wasn't enough to remind you!)
    </div>
    <div>
      To look back fondly at your data you can <a href= "/dashboard/recipes"> head back to your dashboard</a> anytime, <a href= "http://bruby-app.herokuapp.com/dashboard">and maybe it's time to brew again, don't you think?</a>
    </div>
    <%= yield %>
  </body>
</html>
