<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    Hello!
    <div>
      It's been four weeks since you brewed(!), so this is your reminder that the beer is probably ready to drink. Pop one in the fridge and see if the carbonation is where you want it!
    </div>
    <div>
      To look back fondly at your data you can <a href= "/dashboard/recipes"> head back to your dashboard</a> anytime, <a href= "http://bruby-app.herokuapp.com/dashboard">and maybe it's time to brew again, don't you think?</a>
    </div>
    <%= yield %>
  </body>
</html>
