<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->

    <title>Bruby</title>
  </head>
  <body class="homes">
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div class="wrapper">
      <div class="darkBar">
        <div class="centerMessage">
          <%- if current_user %>
            <p class="welcomeTitle">
              Welcome back <%= current_user.username %>!
            </p>
            <p class="welcomeBody">
              would you like to see recipes or brews?
            <p/>
          <%- else -%>
            <p class="welcomeTitle">
              Welcome!
            </p>
            <p class="welcomeBody">
              Bruby is your path to brewing insights. We will help you get more reliability, data, and features out of your homebrewing appliance.
              <%= link_to 'Sign Up', new_user_registration_path %> in order to start brewing!
            <p/>
          <%- end -%>
        </div>
      </div>
    </div>
  </body>
</html>
