<div class="homes">
  <div class="wrapper">
    <div class="topThird">
      Bruby
    </div>
    <div class="darkBar">
      <div class="centerMessage">
        <%- if current_user %>
          <p class="welcomeTitle">
            Welcome back <%= current_user.username %>!
          </p>
          <p class="welcomeBody">
            would you like to see <%= link_to 'your dashboard?', 'dashboard/home' %>
          <p/>
        <%- else -%>
          <p class="welcomeTitle">
            Welcome!
          </p>
          <p class="welcomeBody">
            Bruby is your path to brewing insights. We will help you get more reliability, data, and features out of your homebrewing appliance.
          </p>
          <p class="welcomeBody">
            <%= link_to 'Sign up ', new_user_registration_path %> or <%= link_to '  Sign in now to start brewing', new_user_session_path %> 🍺
          <p/>
        <%- end -%>
      </div>
    </div>
  </div>
</div>
