#curve_chart{
  width: 900px; height: 500px
}

.brewBody{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: black url("https://s3.amazonaws.com/bruby/site_images/beer_bottles_homebrew.jpg") no-repeat;
  background-size: cover;
}

.brewWrapper{
  background-color: rgba(0,0,0,.5);
  border-right: 1px solid #8080804d;
  border-left: 1px solid #8080804d;
  width: 70vw;
  max-width: 800px;
  min-width: 450px;
  padding:10px;
}
