#app{
  background: black url("https://s3.amazonaws.com/bruby/site_images/durnk-122343262.jpg") no-repeat fixed;
  background-size: contain;
  background-position: bottom;
  color: white;
  font-color: white;
  width: 100%;
  min-height: 100%;
}
