.formWrapper{
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.deviseForm{
  min-width: 30vw;
  background-color: #00000096;
  padding: 25px;
  color: white;
}

body.deviseBackground {
  background: black url("https://s3.amazonaws.com/bruby/site_images/beer_drinking.jpg") no-repeat;
  color: white;
  font-color: white;
}

/* Small */
@media screen and (max-width: 1190px) {
  body.deviseBackground {
    background-position: center;
    background-size: cover;
  }
}

/* Larger */
@media screen and (min-width: 1191px) {
  body.deviseBackground {
    background-size: 100% auto;
  }
}

.deviseBackground h2{
  color: white;
}
.deviseBackground label{
  color: white;
}

body {
  background: #fff;
}
