.findBeerBody{
  width:100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: black url("https://s3.amazonaws.com/bruby/site_images/Cooper-River-Brewery.jpg") no-repeat fixed;
  background-size: cover;
}

.findBeerWrapper{
  background-color: rgba(0,0,0,.5);
  border-right: 1px solid #8080804d;
  border-left: 1px solid #8080804d;
  width: 70vw;
  max-width: 800px;
  min-width: 450px;
}

.mapWrapper{
  min-height: 400px;
  height: '30vh';
  width: '100%';
}

.breweriesCount{
  padding: 0px 0 15px 23px;
  font-size: 2em;
}

.breweryUrl{
  padding-top: 10px;
}


.breweryInfo{
  padding: 15px;
  background-color: rgba(0,0,0,.1);
  margin-bottom:5px;
}

.breweryLabel{
  background-color: blue;
  color: black;
  font-weight: 800;
}

.bg-blue {
  background-color: #1d1d1d;
}

.text-white {
  color: #fff;
}

.bg-orange {
  background-color: #3e3d3d;
}

.bg-red {
  background-color: #5f5f5f;
}

.p-4 {
  padding: 1rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.rounded {
  border-radius: .25rem;
}

.rounded {
  border-radius: .25rem;
}

.text-lg {
  font-size: 1.125rem;
}

.font-bold {
  font-weight: 700;
}

.roman {
  font-style: normal;
}
