.findBeerBody{
  width:100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: black url("https://s3.amazonaws.com/bruby/site_images/Cooper-River-Brewery.jpg") no-repeat fixed;
  background-size: cover;
}

.findBeerWrapper{
  background-color: rgba(0,0,0,.5);
  border-right: 1px solid #8080804d;
  border-left: 1px solid #8080804d;
  width: 70vw;
  max-width: 800px;
  min-width: 450px;
}

/* // "text-white"
// 'bg-green text-white'
// '?brewpub'
// 'bg-orange text-white'
// 'bg-grey-light text-grey'
// `p-4 mb-2 rounded`
// "roman"
// "text-lg mb-2"
// "font-bold" */

.bg-blue {
  background-color: #3f51b5;
}

.text-white {
  color: #fff;
}

.bg-orange {
  background-color: #f6993f;
}

.bg-red {
  background-color: #b53939;
}

.p-4 {
  padding: 1rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.rounded {
  border-radius: .25rem;
}

.rounded {
  border-radius: .25rem;
}

.text-lg {
  font-size: 1.125rem;
}

.font-bold {
  font-weight: 700;
}

.roman {
  font-style: normal;
}
