.nowBrewingBody{
  display:flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
  background: black url("https://s3.amazonaws.com/bruby/site_images/boilingWort.png") no-repeat fixed;
  background-size: cover;
}

.nowBrewingWrapper{
  background-color: rgba(0,0,0,.5);
  border-right: 1px solid #8080804d;
  border-left: 1px solid #8080804d;
  width: 70vw;
  max-width: 800px;
  min-width: 450px;
  display: flex;
  flex-direction: column;
}

.liquidFillGaugeText {
   font-family: Helvetica; font-weight: bold;
 }

.gaugeBlock{
  width: 100%
}

#fillGauge1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gaugeLabels{
  width: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2em;
  flex-wrap: wrap;
  font-family: 'Quicksand', sans-serif;
}

.gaugeLabel{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 300px;
}

.brewNextName{
  font-family: 'Quicksand', sans-serif;
  font-size: 3em;
  font-weight: 900;
  color: black;
}

.brewStatWrapper{
  padding: 20px;
}

.brewStatHeader{
  padding-left: 20px;
}

#curve_chart{
  width:100%
}

.wortGauge{
  /* width: 400px; */
  height: 120px;
}

.donutChart{
  /* width: 500px; */
  height: 500px;
}

.gaugesWrapper{
  padding: 30px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
