.nowBrewingBody{
  display:flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
  background: black url("https://s3.amazonaws.com/bruby/site_images/boilingWort.png") no-repeat fixed;
  background-size: cover;
}

.nowBrewingWrapper{
  background-color: rgba(0,0,0,.5);
  border-right: 1px solid #8080804d;
  border-left: 1px solid #8080804d;
  width: 70vw;
  max-width: 800px;
  min-width: 450px;
}

.brewNextName{
  font-size: 2em;
  font-weight: 900;
  border-bottom: 4px solid white;
}

.brewStatWrapper{
  padding: 20px;
}

.brewStatHeader{
  padding-left: 60px;
  display: flex;
  align-items: baseline;
  margin: -34;
}

.brewStatLabel{
  font-size: 2em;
  padding: 0 5px 0 5px
}

.brewStatDigit{
  font-size: 3em;
}

#curve_chart{
  width:100%
}

.gaugesWrapper{
  padding: 30px;
  background: white;
  display: flex;
  wrap: nowrap;
}

.progressWrapper{
  width: 100%;
  height: 20px;
  background-color: grey;
  display: flex;
  justify-content: flex-start;
}

.progressBar{
  background-color: green;
  height: 20px;
}
