input {
     /* width:10px; */
     display:block
}

.stepInputArea:nth-child(even) {
  /* background: rgba(255,255,255,.15) */
}
.stepInputArea:nth-child(odd) {
  background: rgba(0,0,0,.25)
}

.time {
  padding: 0 25px 0 25px;
  max-width: 200px;
}

.Time {
  padding: 0 25px 0 25px;
}

.error{
  border: 1px solid red;
}

#form_container{
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: black url("https://s3.amazonaws.com/bruby/site_images/437743.jpg") no-repeat fixed;
  background-size: cover;
}

.newRecipeForm{
  background-color: rgba(0,0,0,.5);
  width: 70vw;
  max-width: 800px;
  border-right: 1px solid #8080804d;
  border-left: 1px solid #8080804d;
  padding-bottom: 37px;
}

.step_values{
  display: flex;
  justify-content: center;
  align-content: center;
}

.text_input{
  width: 100%;
}

.stepName {
  font-size: 2em;
  margin-bottom: 0;
  font-weight: bolder;
}

.recipesFormExpanded{
  background-color: rgba(0, 0, 0, .5);
}

.textAreas {
  display: flex;
}

.digit_box{
  max-width: 40px;
}

.stepInputArea {
  display: flex;
  padding: 0 25px 0 25px;
  margin-top: 0;
  justify-content: space-between;
}

.errors{
  color: red;
  padding-left: 20px;
}

.button-group {
  display: flex;
  max-width: 300px;
  margin-left: 45px;
}

.button {
  max-width: 50%;
  margin: 3px;
}


@media only screen and (max-width: 650px) {
  .newRecipeForm{
    width:100vw;
  }
}
