.recipeOverview:nth-child(even) {
  background: #CCC
}
.recipeOverview:nth-child(odd) {
  background: #FFF
}

.recipeOverview{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipeButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap:nowrap;
  min-width: 40%
}
.recipeButton {
  align-self: center;
  margin:  .25rem;
  min-width: 80px;
  padding: 5px;
  background-color: #0c5188;
}

.recipeOverviewName {
  margin:  .25rem .25rem 0 .25rem;
  font-weight: 800;
  font-size: 2em;
  /* min-width: 200px; */
  min-width: 40%
}
