.recipeOverview:nth-child(even) {
  background: #BBB
}
.recipeOverview:nth-child(odd) {
  background: #DDD
}

.recipeOverview{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  color: #FFF;
  text-shadow: 2px 2px #999;
}

.recipeButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap:nowrap;
  min-width: 40%
}
.recipeButton {
  align-self: center;
  margin:  .25rem;
  min-width: 80px;
  padding: 5px;
  background-color: #0c5188;
}

.recipeOverviewName {
  margin:  .25rem .25rem 0 .25rem;
  font-weight: 800;
  font-size: 2em;
  min-width: 40%;
  padding: 0 10px 0 10px;
}

.yourRecipes{
  background-color: #e6e6e6;
  /* box-shadow: 10px 10px 5px grey; */
  padding: 0 10px 0 10px;
}

.selectedRecipe{
  border-bottom: 1px solid black;
  /* color: blue; */
  background-color: brown;
  text-shadow: 2px 2px 4px #000;
}

.scriptHeader{
  /* font-family: 'Yellowtail', cursive;
  font-family: 'Galada', cursive;
  font-family: 'Amita', cursive; */
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  color: #FFF;
  text-shadow: 2px 2px 3px #00000082;
}
