.userDashboard{
  overflow: scroll;
}

.userInfoBody{
  display:flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
  background: black url("https://s3.amazonaws.com/bruby/site_images/hazybeer.jpg") no-repeat fixed;
  background-size: cover;
}

.userInfoWrapper{
  background-color: rgba(0,0,0,.5);
  border-right: 1px solid #8080804d;
  border-left: 1px solid #8080804d;
  width: 70vw;
  max-width: 800px;
  min-width: 450px;
}

.welcomeBackText{
  text-align: center;
  text-shadow: 5px 5px 5px black;
  font-size: 4vw;
}

.statsWrapper{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border: 1px solid black;
  width: 22vw;
  color: white;
}

.statsContainer{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.big{
  font-size: 6em;
  text-align: center;
  height: 110px;
  width: 20vw;
}

.description{
  text-align: center;
  width: 20vw;
}
